footer{
}
.top{
  background-color: rgb(135, 150, 3);
  height: calc(100vh - 70vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;

}
.buttom{
  background-color: rgb(34, 66, 34);
  height: 70px;
}
