<!-- fichier Producut-list -->
<h1 class="text-center">{{title}}</h1>
<!-- <h2>{{names}}</h2> -->
<!-- <div>{{ products | json}}</div> -->
<h2>{{date | date:'medium'}}</h2>



<div class="product_list">
  <!-- <div class="product" *ngFor="let product of products">
    merci
  </div> -->
    <app-item *ngFor="let product of products
    "[product]="product"
    (deleteProductItem)="handleDeleteProduct($event)"
    >
  </app-item>
  <div class="bar" *ngIf="!products.length">
    <h1>Désolé, aucun article n'est disponible pour le moment</h1>
  </div>
  <app-modal-product-view></app-modal-product-view>
</div>
