<div class="modal-product-view">
  <div class="overlay"></div>
  <div class="modal-product-view-container d-flex">
    <div class="modal-product-view-image flex-1">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="text-center modal-product-view-details flex-1 d-flex align-items-center justify-content-center flex-column">
      <h2>Name</h2>
      <div class="modal-product-view-details-price">
        <h4>€12.44</h4>
        <del>
          <h4>
            €67.77
          </h4>
        </del>
      </div>
      <div class="modal-product-view-details-created-at">
        Créé le 12/12/20
      </div>
      <button class="btn btn-primary">Achetez</button>
    </div>

  </div>
</div>
